<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Сотрудники</h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <button href="" class="btn btn-primary my-2" (click)="employee_nameIsReadable= true">Добавить сотрудника</button>
      </p>
      <div class="createCompany">
        <input type="newId" name="createCompanyName" class="employee_Id" *ngIf="employee_nameIsReadable" placeholder="Id" [(ngModel)]="newId">
        <input type="newFio" name="createCompanyName" class="company_name" *ngIf="employee_nameIsReadable" placeholder="Фио" [(ngModel)]="newFio">
        <input type="newPhoneNumber" name="createCompanyName" class="company_name" *ngIf="employee_nameIsReadable" placeholder="Номер телефона" [(ngModel)]="newPhoneNumber">

                <select  *ngIf="employee_nameIsReadable" type="departmentName" id="inputState" class="form-control" [(ngModel)]="departmentName">
                  <option selected *ngFor="let depart of departments">{{depart.departmentName}}</option>
                </select>
        <button class="createCompany" *ngIf="employee_nameIsReadable" (click)="createEmployee(departmentName,newId, newFio, newPhoneNumber)">Жмяк</button>
      </div>
    </div>
  </div>
</section>


<div class="companies_menu" *ngFor="let employee of employees" >
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{employee.fio}}</text>
              <text x="50%" y="60%" fill="#eceeef" dy=".3em">{{employee.id}}</text>
              <text x="50%" y="70%" fill="#eceeef" dy=".3em">{{employee.phoneNumber}}</text>
            </svg>
            <div class="card-body" >
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="readyToShow= employee.fio">Показать</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="selectedTOEdit = employee.id">Изменить</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteEmployee(employee.id)">Удалить</button>
                </div>
<!--                <div class="departments_names" *ngFor="let depart of departments">-->
<!--                  <p class="card-text"  *ngIf="readyToShow=== employee.fio">{{depart.departmentName}}</p>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="editForm">
          <input type="newId" name="editCompany" class="company_name" placeholder="Id" *ngIf="selectedTOEdit === employee.id" [(ngModel)]="newId">
          <input type="newFio" name="editCompany" class="company_name" placeholder="ФИО" *ngIf="selectedTOEdit === employee.id" [(ngModel)]="newFio">
          <input type="newPhoneNumber" name="editCompany" class="company_name" placeholder="Номер телефона" *ngIf="selectedTOEdit === employee.id" [(ngModel)]="newPhoneNumber">
          <button class="createCompany" *ngIf="selectedTOEdit === employee.id" (click)="editEmployee(selectedTOEdit, newId, newFio,newPhoneNumber )">Сохранить</button>
        </div>

      </div>
    </div>
  </div>

</div>
