
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Группы</h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <button href="" class="btn btn-primary my-2" (click)="company_nameIsReadable= true">Добавить группу</button>
      </p>
      <div class="createCompany">
        <input type="newName" name="createCompanyName" class="company_name" placeholder="Название компании" *ngIf="company_nameIsReadable" [(ngModel)]="newName">
        <button class="createCompany" *ngIf="company_nameIsReadable" (click)="createCompany(newName)">Жмяк</button>
      </div>
    </div>
  </div>
</section>



<div class="companies_menu" *ngFor="let company of companies" >
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{company.name}}</text></svg>
            <div class="card-body" >
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="company_departmentsAreWriteable= true">Показать</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="isEditable= company.name">Изменить</button>
                  <input type="newCompany" name="editCompany"  id="editComId" *ngIf="isEditable === company.name" value="{{company.name}}" [(ngModel)]="newCompany">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteCompany(company.name)">Удалить</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" *ngIf="isEditable === company.name" (click)="editCompany(company.name, newCompany)">Сохранить</button>
                </div>
                <div class="departments_names" *ngFor="let depart of company.departments">
                  <p class="card-text"  *ngIf="company_departmentsAreWriteable">{{depart.departmentName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





<!--<h2>Группы</h2>-->
<!--<ul class="company">-->
<!--  <li *ngFor="let company of companies">-->
<!--    <button [class.selected]="company === selectedCompany" type="button" routerLink="/company/{{ company.name }}">-->
<!--      <span class="badge">{{company.name}}</span>-->
<!--      <span class="name">{{company.departments}}</span>-->
<!--      <ul class="departments" >-->
<!--        <li *ngFor="let depart of company.departments">-->
<!--          <p> {{depart.departmentName}}</p>-->
<!--        </li>-->
<!--      </ul>-->

<!--    </button>-->
<!--  </li>-->
<!--</ul>-->
