<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Исстория операций</h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <button href="" class="btn btn-primary my-2" (click)="operation_nameIsReadable= true">Добавить операцию</button>
      </p>
      <div class="createCompany">
        <input type="operationNumber" name="createCompanyName" class="employee_Id" *ngIf="operation_nameIsReadable" placeholder="Номер" [(ngModel)]="operationNumber">
        <input type="operationDate" name="createCompanyName" class="company_name" *ngIf="operation_nameIsReadable" placeholder="Дата" [(ngModel)]="operationDate">
        <input type="description" name="createCompanyName" class="company_name" *ngIf="operation_nameIsReadable" placeholder="Описание" [(ngModel)]="description">
        <input type="temp" name="createCompanyName" class="company_name" *ngIf="operation_nameIsReadable" placeholder="Номер сотрудника" [(ngModel)]="temp">

<!--        <select type="employName" id="inputState" class="form-control" [(ngModel)]="employName">-->
<!--          <option selected *ngFor="let employee of employees">{{employee.fio}}</option>-->
<!--        </select>-->
        <div type="temp" *ngFor="let employee of employees"><div *ngIf="employee.fio == employName" [(ngModel)]="temp"></div></div>
        <button class="createCompany" *ngIf="operation_nameIsReadable" (click)="createOperation(temp,operationNumber, operationDate, description)">Сохранить</button>
      </div>
    </div>
  </div>
</section>

<div class="table">
<table class="table" >
  <thead class="thead-dark">
  <tr>
    <th scope="col">Номер</th>
    <th scope="col">Описание</th>
    <th scope="col">Дата</th>
    <th scope="col">Кем проведена</th>
  </tr>
  </thead>
  <tbody *ngFor="let selectedOperation of operations">
  <tr>
    <th scope="row">{{selectedOperation.operationNumber}}</th>
    <td>{{selectedOperation.description}}</td>
    <td>{{selectedOperation.operationDate}}</td>
    <td>Вася Носов</td>
    <button type="button" class="btn btn-danger" (click)="deleteOperation(selectedOperation.operationNumber)">Удалить</button>
  </tr>
  </tbody>
</table>
</div>
